{# purpose of this template: reusable display of standard fields #}
{% if (obj.createdBy|default and obj.createdBy.getUid() > 0) or (obj.updatedBy|default and obj.updatedBy.getUid() > 0) %}

    <div class="col-md-5">
    {% if obj.createdBy|default and obj.createdBy.getUid() > 0 %}
        {% set profileLink = obj.createdBy.getUid()|profileLinkByUserId() %}
        <dd class="avatar">{{ userAvatar(obj.createdBy.getUid(), {rating: 'g', width: '80px'}) }}</dd>
        <dd>
            {{ __f('%user', {'%user': profileLink})|raw }}
            {% if currentUser.loggedIn %}
                {% set sendMessageUrl = obj.createdBy.getUid()|messageSendLink(urlOnly=true) %}
                {% if sendMessageUrl != '#' %}
                    <a href="{{ sendMessageUrl }}" title="{{ __f('Send private message to %userName%', {'%userName%': obj.createdBy.getUname()}) }}"><i class="fa fa-envelope-o"></i></a>
                {% endif %}
            {% endif %}
        </dd>
    {% endif %}
    </div>
    <div class="col-md-7">
        {{ obj.user.rank.name }}<br />
        {% set rankAmount = obj.user.rank.numberOficons %}
        {% set counter = 0 %}
        {% set icon = getModVar('MUBoardModule', 'standardIcon' ) %}
        {% for i in 1..rankAmount %}
            <img src="../../{{ icon }}" />
        {% endfor %}<br />
        Last visit: {{ obj.user.lastVisit|localizeddate('medium', 'short') }}
    </div>
{% endif %}
