{# purpose of this template: inclusion template for display of related postings #}
<ul id="{{ idPrefix }}ReferenceList">
{% if items is defined and items is iterable %}
{% for item in items %}
{% set idPrefixItem = idPrefix ~ 'Reference_' ~ item.getKey() %}
<li id="{{ idPrefixItem }}">
    {{ item|muboardmodule_formattedTitle }}
    <a id="{{ idPrefixItem }}Edit" href="{{ path('muboardmodule_posting_' ~ routeArea ~ 'edit', {'id': item.getId()}) }}"><i class="fa fa-pencil-square-o"></i></a>
     <a id="{{ idPrefixItem }}Remove" href="javascript:mUBoardRemoveRelatedItem('{{ idPrefix }}', '{{ item.getKey() }}');"><i class="fa fa-trash-o"></i></a>
    <br />
    {% if item.firstImage is not empty and item.firstImageMeta.isImage %}
        <img src="{{ item.firstImage.getPathname()|imagine_filter('zkroot', relationThumbRuntimeOptions) }}" alt="{{ item|muboardmodule_formattedTitle|e('html_attr') }}" width="{{ relationThumbRuntimeOptions.thumbnail.size[0] }}" height="{{ relationThumbRuntimeOptions.thumbnail.size[1] }}" class="img-rounded" />
    {% endif %}
</li>
{% endfor %}
{% endif %}
</ul>
