{# purpose of this template: users view filter form #}
{% if hasPermission('MUBoardModule:User:', '::', 'ACCESS_EDIT') %}
    {% form_theme quickNavForm with [
        'bootstrap_3_layout.html.twig'
    ] %}
    {{ form_start(quickNavForm, {attr: {id: 'mUBoardModuleUserQuickNavForm', class: 'muboardmodule-quicknav navbar-form', role: 'navigation'}}) }}
    {{ form_errors(quickNavForm) }}
    <a href="#collapseUserQuickNav" role="button" data-toggle="collapse" class="btn btn-default" aria-expanded="false" aria-controls="collapseUserQuickNav">
        <i class="fa fa-filter" aria-hidden="true"></i> {{ __('Filter') }}
    </a>
    <div id="collapseUserQuickNav" class="collapse">
        <fieldset>
            <h3>{{ __('Quick navigation') }}</h3>
            {% if rankFilter is defined and rankFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.rank) }}
            {% if rankFilter is defined and rankFilter != true %}
                </div>
            {% endif %}
            {% if workflowStateFilter is defined and workflowStateFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.workflowState) }}
            {% if workflowStateFilter is defined and workflowStateFilter != true %}
                </div>
            {% endif %}
            {% if searchFilter is defined and searchFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.q) }}
            {% if searchFilter is defined and searchFilter != true %}
                </div>
            {% endif %}
            {% if sorting is defined and sorting != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.sort) }}
                {{ form_row(quickNavForm.sortdir) }}
            {% if sorting is defined and sorting != true %}
                </div>
            {% endif %}
            {% if pageSizeSelector is defined and pageSizeSelector != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.num) }}
            {% if pageSizeSelector is defined and pageSizeSelector != true %}
                </div>
            {% endif %}
            {{ form_widget(quickNavForm.updateview) }}
        </fieldset>
    </div>
    {{ form_end(quickNavForm) }}
{% endif %}
