{# purpose of this template: forums user display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : 'base' %}
{% extends 'MUBoardModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ forum|muboardmodule_formattedTitle|default(__('Forum')) }}{% endblock %}
{% block title %}
    {#% set templateTitle = forum|muboardmodule_formattedTitle|default(__('Forum')) %}
    {{ templateTitle|notifyFilters('muboardmodule.filter_hooks.forums.filter')|safeHtml }#}
    {% set itemActions = knp_menu_get('MUBoardModule:ItemActionsMenu:menu', [], {entity: forum, area: routeArea, context: 'display'}) %}
    {#<div class="dropdown">
        <a id="itemActions{{ forum.getKey() }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:actions.html.twig'}) }}
    </div>#}
{% endblock %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="muboardmodule-forum muboardmodule-display">  
    {% set detailStatistic = getModVar('MUBoardModule','showStatisticInDetails') %}
    <div class="row">
        <div class="col-sm-12">
            <div class="forum-display-header">
            <div class="col-sm-5">
                <div id="forum-title">
                    {% set templateTitle = forum|muboardmodule_formattedTitle|default(__('Forum')) %}
                    <h2>{{ templateTitle|notifyFilters('muboardmodule.filter_hooks.forums.filter')|safeHtml }}</h2>
                </div>
                </div>
                <div class="col-sm-4">
                {% if detailStatistic == 1 %}
                <button class="btn btn-success btn-xs" type="button">
                    {{ __('Issues') }} <span class="badge">{{ forum.countIssues }}</span>
                </button> 
                <button class="btn btn-info btn-xs" type="button">
                    {{ __('Postings') }} <span class="badge">{{ forum.countPostings }}</span>
                </button>
                {% endif %}   
                </div>
                <div class="col-sm-3">
            
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="forum-display-content">
            {% if forum.posting|default %}
                {{ include(
                    '@MUBoardModule/Posting/includeDisplayItemListManyOwn.html.twig',
                    {items: forum.posting}
                ) }}
            {% endif %}
            </div>
        </div>
    <div>


    {#{ include('@MUBoardModule/Helper/includeStandardFieldsDisplay.html.twig', {obj: forum}) }#}

    {{ block('display_hooks') }}
        </div>
    </div>
</div>
{% endblock %}
{#% block related_items %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Postings') }}</h4>
    {% else %}
        <h3>{{ __('Postings') }}</h3>
    {% endif %}
    
    {% if forum.posting|default %}
        {{ include(
            '@MUBoardModule/Posting/includeDisplayItemListMany.html.twig',
            {items: forum.posting}
        ) }}
    {% endif %}
    
    {% set mayManage = hasPermission('MUBoardModule:Posting:', '::', 'ACCESS_COMMENT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create posting') %}
            <a href="{{ path('muboardmodule_posting_' ~ routeArea ~ 'edit', {forum: forum.getKey()}) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
{% endblock %#}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='muboardmodule.ui_hooks.forums.display_view', id=forum.getKey(), urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        <h4>{{ providerArea }}</h4>
        {{ hook }}
    {% endfor %}
{% endblock %}