{# purpose of this template: forums user list view #}
{% extends 'MUBoardModule::base.html.twig' %}
{% block title own ? __('My forums') : __('Forums list') %}
{% block content %}
<div class="muboardmodule-forum muboardmodule-view">

    {{ block('page_nav_links') }}

    {{ include('@MUBoardModule/Forum/viewQuickNav.html.twig', {workflowStateFilter: false}) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('muboardmodule_forum_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="forumsViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActions" />
                <col id="cTitle" />
                <col id="cDescription" />
                <col id="cCategory" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="muboard-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActions" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}z-order-unsorted z-w02">{{ __('Actions') }}</th>
                <th id="hTitle" scope="col" class="text-left">
                    <a href="{{ sort.title.url }}" title="{{ __f('Sort by %s', {'%s': 'title'}) }}" class="{{ sort.title.class }}">{{ __('Title') }}</a>
                </th>
                <th id="hDescription" scope="col" class="text-left">
                    <a href="{{ sort.description.url }}" title="{{ __f('Sort by %s', {'%s': 'description'}) }}" class="{{ sort.description.class }}">{{ __('Description') }}</a>
                </th>
                <th id="hCategory" scope="col" class="text-left">
                    <a href="{{ sort.category.url }}" title="{{ __f('Sort by %s', {'%s': 'category'}) }}" class="{{ sort.category.class }}">{{ __('Category') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for forum in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ forum.getKey() }}" class="muboard-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ forum.getKey() }}" headers="hItemActions" class="fixed-column actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('MUBoardModule:ItemActionsMenu:menu', [], {entity: forum, area: routeArea, context: 'view'}) %}
                    <div class="dropdown">
                        <a id="itemActions{{ forum.getKey() }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:actions.html.twig'}) }}
                    </div>
                </td>
                <td headers="hTitle" class="text-left">
                    <a href="{{ path('muboardmodule_forum_' ~ routeArea ~ 'display', {'id': forum.getId()}) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ forum.title|notifyFilters('muboardmodule.filterhook.forums')|safeHtml }}</a>
                </td>
                <td headers="hDescription" class="text-left">
                    {{ forum.description|striptags|truncate(50) }}
                </td>
                <td headers="hCategory" class="text-left">
                    {% if forum.category|default %}
                        <a href="{{ path('muboardmodule_category_' ~ routeArea ~ 'display', {'id': forum.category.getId()}) }}">{% spaceless %}
                          {{ forum.category|muboardmodule_formattedTitle }}
                        {% endspaceless %}</a>
                        <a id="categoryItem{{ forum.getKey() }}_rel_{{ forum.category.getKey() }}Display" href="{{ path('muboardmodule_category_' ~ routeArea ~ 'display', {'id': forum.category.getId(), raw: 1}) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="muboard-inline-window hidden" data-modal-title="{{ forum.category|muboardmodule_formattedTitle|e('html_attr') }}"><i class="fa fa-id-card-o"></i></a>
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}5{% else %}4{% endif %}">
            {{ __('No forums found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'muboardmodule_forum_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUBoardModuleAction" class="col-sm-3 control-label">{{ __('With selected forums') }}</label>
                <div class="col-sm-6">
                    <select id="mUBoardModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if hasPermission('MUBoardModule:Forum:', '::', 'ACCESS_EDIT') %}
                {% set createTitle = __('Create forum') %}
                <a href="{{ path('muboardmodule_forum_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}"><i class="fa fa-plus"></i> {{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            {% set routeArgs = own ? {own: 1} : {} %}
            <a href="{{ path('muboardmodule_forum_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            {% set routeArgs = own ? {all: 1, own: 1} : {all: 1} %}
            <a href="{{ path('muboardmodule_forum_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='muboardmodule.ui_hooks.forums.display_view', urlObject=currentUrlObject, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
            {% endfor %}
        {% endif %}
    {% endif % #}
{% endblock %}
