{# purpose of this template: inclusion template for managing related rank #}
{% if displayMode is not defined or displayMode is empty %}
    {% set displayMode = 'choices' %}
{% endif %}
{% if tabs|default(false) == true %}
    <div role="tabpanel" class="tab-pane fade" id="tabRank" aria-labelledby="rankTab">
        <h3>{{ __('Rank') }}</h3>
{% else %}
    <fieldset class="rank">
{% endif %}
    <legend>{{ __('Rank') }}</legend>
    {% if displayMode == 'choices' %}
        {{ form_row(attribute(form, alias)) }}
    {% elseif displayMode == 'autocomplete' %}
        {{ form_row(attribute(form, alias)) }}
        <div class="muboardmodule-relation-leftside">
            {{ include(
                '@MUBoardModule/Rank/Admin/includeSelectEditItemListOne.html.twig',
                attribute(linkingItem, alias) is defined ? {item: attribute(linkingItem, alias)} : {}
            ) }}
        </div>
        <br style="clear: both" />
    {% endif %}
{% if tabs|default(false) == true %}
    </div>
{% else %}
    </fieldset>
{% endif %}
