{# Purpose of this template: Display a popup selector of abos for scribite integration #}
{% set useFinder = true %}
{% extends 'MUBoardModule::raw.html.twig' %}
{% block title __('Search and select abo') %}
{% block content %}
    <div class="container">
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs">
            {% set activatedObjectTypes = getModVar('MUBoardModule', 'enabledFinderTypes', []) %}
            {% if 'category' in activatedObjectTypes %}
                <li{{ objectType == 'category' ? ' class="active"' : '' }}><a href="{{ path('muboardmodule_external_finder', {objectType: 'category', editor: editorName}) }}" title="{{ __('Search and select category') }}">{{ __('Categories') }}</a></li>
            {% endif %}
            {% if 'forum' in activatedObjectTypes %}
                <li{{ objectType == 'forum' ? ' class="active"' : '' }}><a href="{{ path('muboardmodule_external_finder', {objectType: 'forum', editor: editorName}) }}" title="{{ __('Search and select forum') }}">{{ __('Forums') }}</a></li>
            {% endif %}
            {% if 'posting' in activatedObjectTypes %}
                <li{{ objectType == 'posting' ? ' class="active"' : '' }}><a href="{{ path('muboardmodule_external_finder', {objectType: 'posting', editor: editorName}) }}" title="{{ __('Search and select posting') }}">{{ __('Postings') }}</a></li>
            {% endif %}
            {% if 'abo' in activatedObjectTypes %}
                <li{{ objectType == 'abo' ? ' class="active"' : '' }}><a href="{{ path('muboardmodule_external_finder', {objectType: 'abo', editor: editorName}) }}" title="{{ __('Search and select abo') }}">{{ __('Abos') }}</a></li>
            {% endif %}
            {% if 'user' in activatedObjectTypes %}
                <li{{ objectType == 'user' ? ' class="active"' : '' }}><a href="{{ path('muboardmodule_external_finder', {objectType: 'user', editor: editorName}) }}" title="{{ __('Search and select user') }}">{{ __('Users') }}</a></li>
            {% endif %}
            {% if 'rank' in activatedObjectTypes %}
                <li{{ objectType == 'rank' ? ' class="active"' : '' }}><a href="{{ path('muboardmodule_external_finder', {objectType: 'rank', editor: editorName}) }}" title="{{ __('Search and select rank') }}">{{ __('Ranks') }}</a></li>
            {% endif %}
            </ul>
        </div>
        {% form_theme finderForm with [
            '@MUBoardModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(finderForm, {attr: {id: 'mUBoardModuleSelectorForm'}}) }}
        {{ form_errors(finderForm) }}
        <fieldset>
            <legend>{{ __('Search and select abo') }}</legend>
            {{ form_row(finderForm.pasteAs) }}
            <br />
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Abo') }}:</label>
                <div class="col-sm-9">
                    <div id="muboardmoduleItemContainer">
                        <ul>
                            {% for abo in items %}
                                <li>
                                    {% set itemId = abo.getKey() %}
                                    <a href="#" data-itemid="{{ itemId }}">
                                        {{ abo|muboardmodule_formattedTitle }}
                                    </a>
                                    <input type="hidden" id="path{{ itemId }}" value="{{ path('muboardmodule_abo_display', {'id': abo.getId()}) }}" />
                                    <input type="hidden" id="url{{ itemId }}" value="{{ url('muboardmodule_abo_display', {'id': abo.getId()}) }}" />
                                    <input type="hidden" id="title{{ itemId }}" value="{{ abo|muboardmodule_formattedTitle|e('html_attr') }}" />
                                    <input type="hidden" id="desc{{ itemId }}" value="{% set description %}{% endset %}{{ description|striptags|e('html_attr') }}" />
                                </li>
                            {% else %}
                                <li>{{ __('No abos found.') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {{ form_row(finderForm.sort) }}
            {{ form_row(finderForm.sortdir) }}
            {{ form_row(finderForm.num) }}
            {{ form_row(finderForm.q) }}
            <div>
                {{ pager({display: 'page', rowcount: pager.numitems, limit: pager.itemsperpage, posvar: 'pos', maxpages: 10, route: 'muboardmodule_external_finder'}) }}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(finderForm.update) }}
                    {{ form_widget(finderForm.cancel) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(finderForm) }}
    </div>

    {#
    <div class="muboardmodule-finderform">
        <fieldset>
            {{ render(controller('MUBoardModule:Abo:edit')) }}
        </fieldset>
    </div>
    #}
{% endblock %}
