{# purpose of this template: users admin list view #}
{% extends 'MUBoardModule::adminBase.html.twig' %}
{% block title own ? __('My users') : __('Users list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="muboardmodule-user muboardmodule-view">

    {{ block('page_nav_links') }}

    {{ include('@MUBoardModule/User/Admin/viewQuickNav.html.twig', {workflowStateFilter: false}) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('muboardmodule_user_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="usersViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActionsStart" />
                <col id="cUserid" />
                <col id="cNumberPostings" />
                <col id="cLastVisit" />
                <col id="cRank" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="text-center z-w02">
                        <input type="checkbox" class="muboard-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActionsStart" scope="col" class="z-w02">{{ __('Actions') }}</th>
                <th id="hUserid" scope="col" class="text-right">
                    <a href="{{ sort.userid.url }}" title="{{ __f('Sort by %s', {'%s': 'userid'}) }}" class="{{ sort.userid.class }}">{{ __('Userid') }}</a>
                </th>
                <th id="hNumberPostings" scope="col" class="text-right">
                    <a href="{{ sort.numberPostings.url }}" title="{{ __f('Sort by %s', {'%s': 'number postings'}) }}" class="{{ sort.numberPostings.class }}">{{ __('Number postings') }}</a>
                </th>
                <th id="hLastVisit" scope="col" class="text-left">
                    <a href="{{ sort.lastVisit.url }}" title="{{ __f('Sort by %s', {'%s': 'last visit'}) }}" class="{{ sort.lastVisit.class }}">{{ __('Last visit') }}</a>
                </th>
                <th id="hRank" scope="col" class="text-left">
                    <a href="{{ sort.rank.url }}" title="{{ __f('Sort by %s', {'%s': 'rank'}) }}" class="{{ sort.rank.class }}">{{ __('Rank') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for user in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ user.getKey() }}" class="muboard-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ user.getKey() }}Start" headers="hItemActionsStart" class="actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('mUBoardMenuItemActions', [], {entity: user, area: routeArea, context: 'view'}) %}
                    <div class="dropdown">
                        <a id="itemActions{{ user.getKey() }}DropDownToggleStart" role="button" data-toggle="dropdown" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:bootstrap_fontawesome.html.twig'}) }}
                    </div>
                </td>
                <td headers="hUserid" class="text-right">
                    {{ user.userid }}
                </td>
                <td headers="hNumberPostings" class="text-right">
                    {{ user.numberPostings }}
                </td>
                <td headers="hLastVisit" class="text-left">
                    {{ user.lastVisit|localizeddate('medium', 'short') }}
                </td>
                <td headers="hRank" class="text-left">
                    {% if user.rank|default %}
                        <a href="{{ path('muboardmodule_rank_' ~ routeArea ~ 'display', {'id': user.rank.getId()}) }}">{% spaceless %}
                          {{ user.rank|muboardmodule_formattedTitle }}
                        {% endspaceless %}</a>
                        <a id="rankItem{{ user.getKey() }}_rel_{{ user.rank.getKey() }}Display" href="{{ path('muboardmodule_rank_' ~ routeArea ~ 'display', {'id': user.rank.getId(), raw: 1}) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="muboard-inline-window hidden" data-modal-title="{{ user.rank|muboardmodule_formattedTitle|e('html_attr') }}"><i class="fa fa-id-card-o"></i></a>
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}6{% else %}5{% endif %}">
            {{ __('No users found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'muboardmodule_user_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUBoardModuleAction" class="col-sm-3 control-label">{{ __('With selected users') }}</label>
                <div class="col-sm-6">
                    <select id="mUBoardModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if permissionHelper.hasComponentPermission('user', constant('ACCESS_EDIT')) %}
                {% set createTitle = __('Create user') %}
                <a href="{{ path('muboardmodule_user_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}"><i class="fa fa-plus"></i> {{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            {% set routeArgs = own ? {own: 1} : {} %}
            <a href="{{ path('muboardmodule_user_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            {% set routeArgs = own ? {all: 1, own: 1} : {all: 1} %}
            <a href="{{ path('muboardmodule_user_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='muboardmodule.ui_hooks.users.display_view', urlObject=currentUrlObject, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
            {% endfor %}
        {% endif %}
    {% endif % #}
{% endblock %}
