{# purpose of this template: inclusion template for display of related forums #}
<ul id="{{ idPrefix }}ReferenceList">
{% if items is defined and items is iterable %}
{% for item in items %}
{% set idPrefixItem = idPrefix ~ 'Reference_' ~ item.getKey() %}
<li id="{{ idPrefixItem }}">
    {{ item|muboardmodule_formattedTitle }}
    <a id="{{ idPrefixItem }}Edit" href="{{ path('muboardmodule_forum_' ~ routeArea ~ 'edit', {'id': item.getId()}) }}"><i class="fa fa-pencil-square-o"></i></a>
     <a id="{{ idPrefixItem }}Remove" href="javascript:mUBoardRemoveRelatedItem('{{ idPrefix }}', '{{ item.getKey() }}');"><i class="fa fa-trash-o"></i></a>
</li>
{% endfor %}
{% endif %}
</ul>
