{# purpose of this template: build the user form to edit an instance of posting #}
{% set entry = app.request.query.getAlpha('ot', 'posting') %}
{% set func = app.request.query.getAlpha('func' , 'view') %}
{% if func != 'display' and entry != 'posting' %}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% else %}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base2') %}
{% endif %}
{% extends 'MUBoardModule::' ~ baseTemplate ~ '.html.twig' %}
{% block header %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@MUBoardModule:js/MUBoardModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@MUBoardModule:js/MUBoardModule.EditFunctions.js'), 99) }}
{% endblock %}
{% block title mode == 'create' ? __('Create posting') : __('Edit posting') %}
{% block content %}
    <div class="muboardmodule-posting muboardmodule-edit">
        {% form_theme form with [
            '@MUBoardModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {% set returnUrl = path('muboardmodule_category_view') %}
        {% if mode == 'create' %}
        {{ form_start(form, {attr: {id: 'entryEditForm'}, action: path('muboardmodule_posting_edit', { returnTo: returnUrl }) }) }}
        {% else %}
        {{ form_start(form, {attr: {id: 'entryEditForm'} }) }}
        {% endif %}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('Content') }}</legend>
            {{ form_row(form.title) }}
            {{ form_row(form.text) }}
            <div class="hidden">
            {{ form_row(form.invocations) }}
            {{ form_row(form.state) }}
            {{ form_row(form.solved) }}
            </div>
            {% set images = getModVar('MUBoardModule', 'uploadImages') %}
            {% set numberImages = getModVar('MUBoardModule', 'numberImages') %}

            {% if images == 0 %}
                <div class="hidden">
            {% endif %}
            {{ form_row(form.firstImage) }}
            {% if images == 0 %}
                </div>
            {% endif %}
            {% if numberImages == 1 %}
                <div class="hidden">
            {% endif %}
            {{ form_row(form.secondImage) }}
            {% if numberImages == 1 %}
                </div>            
            {% endif %}
            {% if images == 0 or (images == 1 and (numberImages == 1 or numberImages == 2)) %}
                <div class="hidden">
            {% endif %}
            {{ form_row(form.thirdImage) }}
            {% if images == 0 %}
                </div>            
            {% endif %}

            {% set files = getModVar('MUBoardModule', 'uploadFiles') %}
            {% set numberFiles = getModVar('MUBoardModule', 'numberFiles') %}
            {% if files == 0 %}
                <div class="hidden">
            {% endif %}             
            {% if numberFiles == 1 or numberFiles == 2 or numberFiles == 3 %}
            {{ form_row(form.firstFile) }}
            {% endif %}            
            {% if numberFiles <= 1 %}
            <div class="hidden">
            {% endif %}  
            {{ form_row(form.secondFile) }}
            {% if numberFiles <= 1 %}
            </div>
            {% endif %}            
            {% if numberFiles <= 2 %}  
            <div class="hidden">
            {% endif %}  
            {{ form_row(form.thirdFile) }}
            {% if numberFiles <= 2 %} 
            </div>
            {% endif %}            
            {% if files == 0 %}
                </div>
            {% endif %}  
        </fieldset>
        <div class="hidden">
        {{ include(
            '@MUBoardModule/Posting/includeSelectOne.html.twig',
            {group: 'posting', heading: __('Parent'), alias: 'parent', mandatory: false, idPrefix: 'boardPosting_Parent', linkingItem: posting, displayMode: 'choices'}
        ) }}
        {{ include(
            '@MUBoardModule/Forum/includeSelectOne.html.twig',
            {group: 'posting', heading: __('Forum'), alias: 'forum', mandatory: false, idPrefix: 'boardPosting_Forum', linkingItem: posting, displayMode: 'choices'}
        ) }}
        </div>
        {% if mode != 'create' %}
            {{ include('@MUBoardModule/Helper/includeStandardFieldsEdit.html.twig', {obj: posting}) }}
        {% endif %}
        
        {% if formHookTemplates|length > 0 %}
            <fieldset>
                {% for hookTemplate in formHookTemplates %}
                    {{ include(hookTemplate.0, hookTemplate.1, ignore_missing = true) }}
                {% endfor %}
            </fieldset>
        {% endif %}
        
        <div class="hidden">
        {<fieldset>
            <legend>{{ __('Communication') }}</legend>
            {{ form_row(form.additionalNotificationRemarks) }}
        </fieldset>
        
        {% if form.moderationSpecificCreator is defined %}
            <fieldset id="moderationFieldsSection">
                <legend>{{ __('Moderation') }} <i class="fa fa-expand"></i></legend>
                <div id="moderationFieldsContent">
                    {{ form_row(form.moderationSpecificCreator) }}
                    {{ form_row(form.moderationSpecificCreationDate) }}
                </div>
            </fieldset>
        {% endif %}
        </div>
        {% set forumId = muboardmodule_getForumId() %}
        {% if forumId != '' %}
        <input type="hidden" id="forumid" name="forumid" value="{{ forumId }}" /> 
        {% endif %}  
        {% set postingId = muboardmodule_getPostingId() %}
        {% if postingId != '' %}
        <input type="hidden" id="postingid" name="postingid" value="{{ postingId }}" />      
        {% endif %}
        {# include possible submit actions #}
        <div class="form-group form-buttons">
            <div class="col-sm-offset-3 col-sm-9">
                {% for action in actions %}
                    {{ form_widget(attribute(form, action.id)) }}
                    {% if mode == 'create' and action.id == 'submit' and form.submitrepeat is defined %}
                        {{ form_widget(attribute(form, 'submitrepeat')) }}
                    {% endif %}
                {% endfor %}
                {{ form_widget(form.reset) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
        {% set hookId = mode != 'create' ? posting.id : null %}
        {% set hooks = notifyDisplayHooks(eventName='muboardmodule.ui_hooks.postings.form_edit', id=hookId, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
            {% endfor %}
        {% endif %}
        
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@MUBoardModule:js/MUBoardModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@MUBoardModule:js/MUBoardModule.EditFunctions.js'), 99) }}
    {% set formInitScript %}
        <script>
        /* <![CDATA[ */
            var mUBoardInlineEditHandlers = [];
            var mUBoardEditHandler = null;
            
            ( function($) {
                $(document).ready(function() {
                    mUBoardInitEditForm('{{ mode }}', '{% if mode != 'create' %}{{ posting.id }}{% endif %}');
                    mUBoardInitUploadField('muboardmodule_posting_firstImage_firstImage');
                    mUBoardInitUploadField('muboardmodule_posting_secondImage_secondImage');
                    mUBoardInitUploadField('muboardmodule_posting_thirdImage_thirdImage');
                    mUBoardInitUploadField('muboardmodule_posting_firstFile_firstFile');
                    mUBoardInitUploadField('muboardmodule_posting_secondFile_secondFile');
                    mUBoardInitUploadField('muboardmodule_posting_thirdFile_thirdFile');
                    {% if form.moderationSpecificCreator is defined %}
                        initUserLiveSearch('muboardmodule_posting_moderationSpecificCreator');
                    {% endif %}
                });
            })(jQuery);
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', formInitScript) }}
{% endblock %}
