{# purpose of this template: inclusion template for display of related forums #}
{% set hasAdminPermission = hasPermission('MUBoardModule:Forum:', '::', 'ACCESS_EDIT') %}
{% if noLink is not defined %}
    {% set noLink = false %}
{% endif %}
{% if items|default and items|length > 0 %}
<div class="list-group muboardmodule-related-item-list forum">
{% for item in items %}
    {% if hasAdminPermission or item.workflowState == 'approved' %}
    {% if item.parent_id == NULL %}
    <div class="list-group-item col-md-12">
    <div class="col-md-4">
<h4 class="list-group-item-heading">
{% spaceless %}
{% if item.state == 0 %}<span class="state-green posting-state"><i class="fa fa-unlock" aria-hidden="true"></i></span>{% else %}<span class="state-red posting-state"><i class="fa fa-lock" aria-hidden="true"></i></span>{% endif %} 
{% if not noLink %}
    <a class="forum-include-link" href="{{ path('muboardmodule_posting_' ~ routeArea ~ 'display', {'id': item.getId()}) }}" title="{{ item|muboardmodule_formattedTitle|e('html_attr') }}" data-posting-id="{{ item.id }}">
{% endif %}
    {{ item|muboardmodule_formattedTitle }}
{% if not noLink %}
    </a>
    {#<a id="forumItem{{ item.getKey() }}Display" href="{{ path('muboardmodule_posting_' ~ routeArea ~ 'display', {'id': item.getId(), raw: 1}) }}" title="{{ __('Open quick view window') }}" class="muboard-inline-window hidden" data-modal-title="{{ item|muboardmodule_formattedTitle|e('html_attr') }}"><span class="fa fa-id-card-o"></span></a>#}
{% endif %}
{% endspaceless %}
</h4>
    {% if detailStatistic == 1 %}
        <button class="btn btn-success btn-xs" type="button">
            {{ __('Answers') }} <span class="badge">{{ item.countAnswers }}</span>
        </button> 
    {% endif %}
    </div>
    <div class="col-md-8">
        {{ __('Last answer') }}:
        {% if item.last.parent is defined %}
            {% set itemLink = item.last.parent.id %}
            {% set itemText = item.last.text|truncate(30) %}
        {% else %}
        {% if item.last is defined and item.last is not null and item.last != '' %}
            {% set itemLink = item.last.id %}
            {% set itemText = item.last.title %}
        {% endif %}
        {% endif %}
        {% if item.last %}<span class="last-posting"><a href="{{ path('muboardmodule_posting_display', {'id': itemLink }) }}">{{ itemText }}</a><br />{{ __('by') }}
        <span class="posting-avatar">{{ userAvatar(item.last.createdBy.getUid(), {rating: 'g'}) }}</span> {% set profileLink = item.last.createdBy.getUid()|profileLinkByUserId() %} {{ profileLink|raw }}<br />{{ __('on') }}  {{ item.createdDate|localizeddate('medium', 'short')}} {% else %}{{ __('No posting available') }}{% endif %}
    </div>
    </div>

    {% endif %}
{% endif %}
{% endfor %}
</div>
    <script>
    var MU = jQuery.noConflict();
    MU(document).ready(function() {
        MU('.posting-state').click(function() {
        var postingId = MU(this).next().attr('data-posting-id');
        var postingLink = MU(this).next();
        var postingState = MU(this);
            MU(this).append('<img class="ajax-indicator" style="width: 16px; height: 16px;" src="/zik15/images/ajax/indicator.white.gif" />');
            MU.get('{{ path('muboardmodule_ajax_togglestate')}}?id=' + postingId, function(data) {
                if(data) {
                if (postingState.hasClass('state-green') == true) {
                        postingState.removeClass('state-green').addClass('state-red');
                    } else {
                        postingState.removeClass('state-red').addClass('state-green');
                    }
                    MU('.ajax-indicator').hide('slow').remove();
                    postingLink.after('<span id="statusmessage">{{ __('The state of this issue was changed') }}</span>');
                    MU('#statusmessage').delay(3000).hide('slow');
                }
            });
        });
    });

</script>
{% endif %}