{# purpose of this template: inclusion template for display of related forums #}
{% set hasAdminPermission = hasPermission('MUBoardModule:Forum:', '::', 'ACCESS_EDIT') %}
{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{{ pageAddAsset('stylesheet', asset('bootstrap-jqueryui/bootstrap-jqueryui.min.css')) }}
{{ pageAddAsset('javascript', asset('jquery-ui/jquery-ui.min.js')) }}
{{ pageAddAsset('javascript', asset('bootstrap-jqueryui/bootstrap-jqueryui.min.js')) }}
{% if noLink is not defined %}
    {% set noLink = false %}
{% endif %}
{% if items|default and items|length > 0 %}
<div class="list-group muboardmodule-related-item-list forum">
{% for item in items %}
    <div class="col-md-12">
    <div class="col-md-4">
        <div class="children-include-user">
            {{ include('@MUBoardModule/Helper/includeStandardFieldsDisplay2.html.twig', {obj: item}) }}
        </div>
    </div>
    <div class="col-md-8">
        <div class="children-include-header">
            {{ include('@MUBoardModule/Helper/includeStandardFieldsDisplay3.html.twig', {obj: item}) }}
        </div>
        <div class="children-include-content">
            {{ item.text|safeHtml }}
        </div>
    </div>
    </div>
{% endfor %}
</div>
{% endif %}
