{# purpose of this template: inclusion template for display of related forums #}
{% set hasAdminPermission = hasPermission('MUBoardModule:Forum:', '::', 'ACCESS_EDIT') %}
{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{{ pageAddAsset('stylesheet', asset('bootstrap-jqueryui/bootstrap-jqueryui.min.css')) }}
{{ pageAddAsset('javascript', asset('jquery-ui/jquery-ui.min.js')) }}
{{ pageAddAsset('javascript', asset('bootstrap-jqueryui/bootstrap-jqueryui.min.js')) }}
{% if noLink is not defined %}
    {% set noLink = false %}
{% endif %}
{% if items|default and items|length > 0 %}
{#<div class="list-group muboardmodule-related-item-list posting">#}
<ul class="list-group">
{% for item in items %}
    <li class="list-group-item">
    <div class="row">
    <div class="col-sm-12 children">
    <div class="row">
    <div class="col-sm-4">
        <div class="children-include-user">
            {{ include('@MUBoardModule/Helper/includeStandardFieldsDisplay2.html.twig', {obj: item}) }}
        </div>
    </div>
    <div class="col-sm-8">
        <div class="children-include-header">
            {{ include('@MUBoardModule/Helper/includeStandardFieldsDisplay3.html.twig', {obj: item}) }}
        </div>
        <div class="children-include-content">
            {{ item.text|safeHtml }}<br />
            {% if item.firstImage is not empty and item.firstImageMeta|default %}
                        <a href="{{ item.firstImageUrl }}" title="{{ item|muboardmodule_formattedTitle|e('html_attr') }}"{% if item.firstImageMeta.isImage %} class="image-link"{% endif %}>
            {% if item.firstImageMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'postingFirstImage') %}
                <img src="{{ item.firstImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ item|muboardmodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-responsive" />
            {% else %}
                {{ __('Download') }} ({{ item.firstImageMeta.size|muboardmodule_fileSize(item.firstImage.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}
        </div>
    </div>
    </div>
    </div>
    </div>
    </li>
{% endfor %}
</ul>
{#</div>#}
{% endif %}
